<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        Reel<span class="nav-logo-span">Sort</span>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-2.html">Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html">
            Search
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>