.genres-page-section {
  padding: 50px 0;
}

.genres-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.genresContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.genres-list-button {
  background-color: #37302c;
  font-family: inherit;
  font-size: 16px;
  border: none;
  letter-spacing: 0.05em;
  color: #dfe0e2;
  border-radius: 4px;
  width: 150px;
  height: 55px;
  padding: 8px 14px;
  transition: all 250ms ease-in-out;
}

.genres-list-button:hover {
  background-color: #dfe0e2;
  color: #a45827;
}

.genres-activated {
  background-color: #dfe0e2;
  color: #a45827;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.movies-list-item {
  width: calc((100% - 12px) / 2);
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #37302c;
  padding: 0 0 10px 0;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.movies-list-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.movies-item-title {
  height: 52px;
  overflow-y: scroll;
  font-weight: 400;
  font-size: 16px;
  padding: 0 10px;
  text-wrap: wrap;
  color: #dfe0e2;
}

.movies-item-title::-webkit-scrollbar {
  display: none;
}

.movies-item-img {
  width: 100%;
  margin-bottom: 10px;
}

.load-more-hidden {
  display: none;
}

.btn {
  display: inline-block;
  background-color: #37302c;
  font-family: inherit;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #dfe0e2;
  border-radius: 4px;
  width: 140px;
  height: 43px;
  border: none;
  padding: 8px 14px;
  transition: all 250ms ease-in-out;
}

.btn:hover {
  background-color: #dfe0e2;
  color: #37302c;
}

@media screen and (min-width: 768px) {
  .genres-page-container {
    flex-direction: row;
  }

  .genresContainer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .genres-list-button {
    width: 160px;
  }

  .moviesContainer {
    justify-content: flex-end;
  }

  .movies-list-item {
    width: calc((100% - 24px) / 3);
    height: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .genres-list-button {
    width: 180px;
  }

  .movies-list-item {
    width: calc((100% - 48px) / 5);
    height: 360px;
  }
}
