.top-page-section {
  padding: 50px 0;
  position: relative;
}

.top-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  gap: 20px;
}

.top-input {
  background-color: transparent;
  border: 1px solid #37302c;
  border-radius: 4px;
  outline: none;
  padding: 8px 14px;

  width: 320px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #dfe0e2;
  transition: border 250ms ease-in-out;
  margin-right: 15px;
  margin-bottom: 20px;
}

.top-input:focus {
  border: 1px solid #dfe0e2;
}

.top-button {
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #dfe0e2;
  border-radius: 4px;
  width: 180px;
  padding: 8px 14px;
  border: #37302c;
  background-color: #37302c;
  font-family: inherit;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    opacity 250ms ease-in-out;
}

.top-button:hover {
  background-color: #dfe0e2;
  color: #a45827;
}

@media screen and (min-width: 768px) {
  .top-input {
    margin-bottom: 0;
  }
}
