.back-link {
  display: inline-block;
  background-color: #37302c;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #dfe0e2;
  border-radius: 4px;
  width: 140px;
  padding: 8px 14px;
  transition: all 250ms ease-in-out;
  margin-top: auto;
}

.back-link:hover {
  background-color: #dfe0e2;
  color: #37302c;
}
