.footer {
  padding: 30px 0;
}

.footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer-logo {
  font-size: 28px;
}
.footer-logo-span {
  color: #37302c;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #dfe0e2;
}

.footer-contacts-item {
  transition: color 250ms ease-in-out;
}

.footer-contacts-item:hover {
  color: #37302c;
}

.footer-copy {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #dfe0e2;
  text-align: right;
}
