.hero-section {
  padding: 50px 0;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img {
  transform: translateY(-50px);
  opacity: 80%;
}

.hero-title,
.hero-text,
.hero-button {
  opacity: 0;
  transform: translateX(20px);
}

.hero-title {
  z-index: 999;
  color: #dfe0e2;
  font-family: 'Oswald', sans-serif;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 170px;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.1s;
}

.hero-text {
  z-index: 999;
  width: 320px;
  color: #dfe0e2;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 20px;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.3s;
}
.hero-button {
  z-index: 999;
  display: inline-block;
  background-color: #37302c;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #dfe0e2;
  text-align: center;
  border-radius: 4px;
  width: 210px;
  padding: 8px 14px;
  transition: all 250ms ease-in-out;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.6s;
}

.hero-button:hover {
  background-color: #dfe0e2;
  color: #37302c;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    min-height: 555px;
  }

  .hero-title {
    font-size: 58px;
    margin-bottom: 40px;
    padding-top: 0;
  }

  .hero-text {
    font-size: 22px;
  }
  .hero-button {
    font-size: 20px;
    width: 260px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-img {
    opacity: 100%;
  }

  .hero-title {
    font-size: 62px;
  }

  .hero-button {
    font-size: 22px;
    padding: 10px 16px;
  }
}
